<head>
  <style>
      .center {
          align-content: center;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
      }
  </style>

</head>
<body class="center">
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<button type="button"> <%= link_to "홈으로 이동", "/"%></button>
<%= form_tag "/tutor", method: :post do %>
  <p>이름을 입력해주세요.</p>
  <input required="true" type="text" name="name">
  <br>
  <br>
  <button type="submit">제출</button>
<% end %>
</body>