<%= form_tag "/tutor/create", method: :post do %>
  <p>이름을 입력해주세요.</p>
  <input type="text" name="name"/>
  <br>
<!--  <p>전공</p>-->
<!--  <input type="text" name="major"/>-->
  <br>
  <button type="submit">제출</button>
<% end %>